// Place all the styles related to the trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "base";

body {
  font-family: $font-family-base;
  background-color: $white;
  height: 100%;
  width: 100%
}

html {
  color: $white;
}

.navbar-brand {
  font-family: $font-family-logo;
  text-decoration: none;
  font-size: 30px;
  margin: 0;
}

.signup-form,
.login-form,
.edit-user-form {
  p {
    color: white;
    font-size: 13px;
  }
}

.employee-list {
  list-style: none;
  padding: 50px 0;
}

.employee-card {
  background-color: $white;
  border: 1px solid $white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 5px 50px 30px rgba($navbar-dark-blue, .05);
  transition: .3s;

  &:not(:first-child){
    margin-top: 20px;
  }

  &:hover {
    border-color: rgba($palette-pink, .2);
    transform: scale(1.05);
    z-index: 2;
  }

  .card-body {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 30px;
    text-decoration: none;
    color: $navbar-dark-blue;
    font-size: 12px;
  }

  .welcome-details {
    margin-top: 100px;

    p {
      color: $white;
      font-size: 16px;
      margin: 20px 0 50px;
    }
  
    h2 {
      color: $white;
      font-size: 36px;
      font-weight: 100;
      letter-spacing: -2px;
  
      @include respond-to(medium-screens) {
        font-size: 80px;
        letter-spacing: -5px;
      }
  
      @include respond-to(tablets) {
        font-size: 60px;
        letter-spacing: -3px;
      }
    }
  }

}
